h1 {
    text-align: center;
    font-weight: 900;
    text-decoration: underline wavy orangered;
    letter-spacing: 8px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 30px;
}

p {
    text-align: left;
    font-weight: lighter;
    line-height: 1.5;
}

a {
    text-decoration: none;
}