body {
    background-color: #fffcf5;
}

button {
    font-size: 20px;
    background-color: #669BBC;
}

h1, h2 {
    color: #003049;
}

#register {
    background-color: #003049;
    color: rgb(197, 242, 250);
}

span {
    color: #2c81b5;
}

.category {
    color:snow;
    background-color: #C1121F;
    font-size: 16px;
}